body {
    width: auto;
    background: linear-gradient(to bottom, #4facfe, #0A3871);
    font-family: 'Montserrat Alternates', sans-serif;
}

main {
    margin: 2%;
    width: auto;
}

.logo {
    position: absolute;
    left: 5px;
    top: 30px;
}

.contenedor li {
    display: inline-block;
    text-align: center;




}

.contenedor li:nth-child(2) {
    border-radius: 10px;
    box-shadow: 10px 10px 30px 14px rgb(0, 0, 0);
    display: inline-block;
    width: 26%;
    height: 38em;
    margin: 0 0.5%;
    padding: 40px 12px;
    box-sizing: border-box;
}

.imagen2 {
    position: absolute;
    top: 22%;
    left: 60%;
    width: 30%;
    height: 50%;
}


#mi-texarea {
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border: none;
    outline: none;
    resize: none;
}

#mi-texarea::placeholder {
    color: #ffffff;

}

#texto-imagen {
    font-size: 22px;
    font-weight: bold;
}


.btn-primarios {
    margin: 15px;
    padding: 0;
}



button {
    all: unset;
}

.style-botones {
    margin-left: 5rem;
    margin-right: 2rem;
    padding: 15px 50px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #0A3871;
    border: 2px solid #0A3871;
    border-radius: 60px;
    transition: 0.6s all;
    cursor: pointer;
}

.style-botones:hover {
    transform: scale(1.1);
}

.style-botones:active {
    background: #CED4DA;
}

#mi-textocifrado {
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    margin-top: -2px;
}

#mi-textocifrado::placeholder {
    color: #FFFFFF;
}

.btn-copiar {
    color: #FFFFFF;
    padding: 10px;
    height: 22px;
    font-weight: bold;
    font-size: 22px;
    background: #174D8B;
    border: 2px solid #0A3871;
    border-radius: 8px;
    transition: 0.6s all;
    cursor: pointer;
}

.btn-copiar:hover {
    transform: scale(1.1);
}

.btn-copiar:active {
    background: #CED4DA;
}

footer {
    background: linear-gradient(to bottom, #174D8B, #0A3871);
    padding: 40px;
    text-align: center;
    color: #FFFFFF;
}


.Copyright {
    font-weight: bold;
    font-size: 12px;
    margin: 20px;

}

@media screen and (max-width: 1024px) {

    /* Estilos para tabletas */
    .logo {
        position: absolute;
        left: 5px;
        top: 30px;
    }

    .contenedor li {
        width: 96%;
    }


    .contenedor li:nth-child(2) {
        width: 100%;
        height: 32em;
        margin-top: 6%;
        margin-left: 10px;
    }

    #mi-textocifrado {
        width: 100%;
        height: 147px;
    }

    .imagen2 {
        display: block;
        position: absolute;
        top: 110%;
        left: 39%;
        width: 24%;
        height: 36%;
    }

    .style-botones {
        margin-top: 6%;

    }

    .btn-copiar {
        margin-top: 10em;
    }

    footer {
        margin-top: 6px;
    }

}

@media screen and (max-width: 480px) {
    main {
        width: auto;
        padding: 18px;
        margin-left: -15px;
    }

    .logo {
        top: 16px;
        left: -28px;
    }

    .contenedor li,
    .style-botones {
        width: auto;
    }

    #mi-texarea {
        text-align: center;
        margin-bottom: 50%;
    }

    #mi-textocifrado {
        height: 30%;
        margin-top: 68px;
    }


    .contenedor li:nth-child(2) {
        width: 22em;
        height: 38em;
    }

    .btn-primarios {
        margin-left: -16px;
        margin-top: -172px;
    }

    .imagen2 {
        position: absolute;
        top: 120%;
        left: 39%;
        width: 24%;
        height: 22%;
    }

    #btn-space {
        margin-top: 20px;
    }
}